@media screen and (max-width: 1100px) {
    #sidebar {
        transform: translateX(-100%);
        z-index: 999;
    }

    #sidebarToggle {
        display: block;
    }

    #sidebar.active {
        transform: translateX(0);
    }
}
