<div id="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a ui-sref="ownerhome">Statistics</a></li>
      <!-- <li><a ui-sref="registerListing">Register New Vehicle</a></li> -->
      <li><a ui-sref="approvedBids">Approved</a></li>
      <li><a ui-sref="carownerchat">Chats</a></li>
      <li><a ui-sref="ownerlisting">Listings</a></li>
      <li><a ui-sref="startJourney">Start Journey</a></li>
      <li><a ui-sref="endJourney">End Journey</a></li>
      <!-- <li><a ui-sref="pendingInvoice">Pending Invoice</a></li> -->
      <li><a ui-sref="profile">Profile</a></li>
      <li id="logout" ng-click="logout()">Logout</li>
    </ul>
  </div>
  